Source: icons-tabler-icons
Section: graphics
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13), meson, ninja-build, python3, iconlibutils
Standards-Version: 4.6.2
Homepage: https://tabler.io/icons
Vcs-Browser: https://github.com/lenik/icons-tabler-icons
Vcs-Git: https://github.com/lenik/icons-tabler-icons.git
Rules-Requires-Root: no

Package: icons-tabler-icons
Architecture: all
Depends: ${misc:Depends},
         iconlibutils
Description: Tabler Icons
 Tabler Icons
 .
 Provides icon assets under /usr/share/icons-tabler-icons, a preview index, and a
 launcher `icons-tabler-icons` (`iconlib -l tabler-icons`).
