Source: tabler-icons
Section: graphics
Priority: optional
Maintainer: Lenik <tabler-icons@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://tabler.io/icons
Vcs-Browser: https://github.com/tabler/tabler-icons
Vcs-Git: https://github.com/tabler/tabler-icons.git
Rules-Requires-Root: no

Package: tabler-icons
Architecture: all
Depends: ${misc:Depends}
Description: Free MIT-licensed high-quality SVG icons
 Tabler Icons is a set of free MIT-licensed high-quality SVG icons
 for use in web projects. Each icon is designed on a 24x24 grid
 with a 2px stroke.
 .
 This package provides the SVG and PNG icon files.

